<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta name="google-signin-client_id" content="904961043739-q6t04u0bcq6uspeu2cp82p8qe4di85sk.apps.googleusercontent.com">
    
    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>  <!-- 구글 로그인 API 관련 -->
</head>
<body>
<div class="container-fluid">
	<div class="page-header">
	  <h1>뉴스 RSS 등록</h1>
	</div>
	<div class="site-wrapper">
        <div class="row">
            <div class="g-signin2" data-onsuccess="onSignIn">
            </div>
            
            <a href="#" onclick="signOut();">Sign out</a>
        </div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

<script type="text/javascript">
function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId());
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail());
}

function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    auth2.disconnect();
  }


/**
 * 저장
 */
function save() {
	
	var compCd = $("#compCd");  //뉴스 언론사 코드
	
	if (compCd.val()=="") {
		alert("언론사를 선택해주세요.");
		compCd.focus();
		return;
	}
	
	var clCd = $("#clCd");
	
    if (clCd.val()=="") {
        alert("분야를 선택해주세요.");
        clCd.focus();
        return;
    }
    
    var rssUrl = $("#rssUrl");
    
    if (rssUrl.val()=="") {
        alert("URL을 입력해주세요.");
        rssUrl.focus();
        return;
    } 
	
	$.ajax({
          type : "POST"
        , url : "/admin/news/main/save"
        , data : $("#frm").serialize()
        , error : function(){
            alert("error");
          }
        , success : function(data){
            alert("success");
          }
    });
}

function getCode() {
    $.ajax({
          type : "POST"
        , url : "/comm/getCommCodeList"
        , data : { "codeGroupId" : "G1" }
        , error : function(){
            alert("error");
          }
        , success : function(data){
            alert("success");
            alert(data.commCodeList[0].codeGroupId);
          }
    });
}

$(function () {
	//Spring Security csrf 관련 설정
    var token  = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    
    $(document).ajaxSend(function(e, xhr, options) {
        if(token && header) {
            xhr.setRequestHeader(header, token);
        }
    });
});
</script>
</body>
</html>
