<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 컴럼명을 Camel 표기법으로 자동 매핑 설정 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <mappers>
        <mapper resource="mapper/comm_code.xml" />
        <mapper resource="mapper/news.xml" />
        <mapper resource="mapper/news_rss_url.xml" />
    </mappers>
</configuration>